.env*

.git
.gitignore

.DS_Store
*.md
.vscode
.idea

Dockerfile*
docker-compose.yml
docker-compose.override.yml
.dockerignore

**/node_modules
**/dist
**/dist-test
*.log
npm-debug.log*
coverage/
.github/
